{define title}Vítejte{/define}

{define breadcrumb}{/define}

{block content}
	<div class="card">
		<div class="card-body">
			<strong>Ahoj Člene KC!</strong>
			<p>Zjevně si byl/a obdařen/a vlastnictvním hesla do této administrace. Važ si toho. KC dává, ale KC i bere. </p>
		</div>
	</div>
{/block}


