{define title}FunkceOddělení KC{/define}

{define breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link DepartmentFunctionMember:default}">Funkce Oddělení KC</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Funkce Oddělení KC</li>
{/define}

{block content}
    <div class="card">
        <div class="card-header">Funkce Oddělení KC</div>
        <div class="card-body">
            {control departmentFunctionForm}
        </div>
    </div>
{/block}
