<footer class="bg-light text-center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Cítíš se být <a href="{link :Admin:Homepage:default}">Adminem</a>?
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; {php echo date('Y')} Webové oddělení KC
    </div>
</footer>