parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

extensions:
	dibi: Dibi\Bridges\Nette\DibiExtension22

services:
#	latte.templateFactory:
#		factory: App\Factory\KcTemplateFactory
#		autowired: no
#	templateFactory:
#		class: Nette\Application\UI\ITemplateFactory
#		factory: App\Factory\KcTemplateFactory(@latte.templateFactory)
	nette.latteFactory:
		setup:
			- addFilter(branchCount, @App\Filters\Count\BranchCountFilter)
			- addFilter(carCount, @App\Filters\Count\CarCountFilter)
			- addFilter(causeCount, @App\Filters\Count\CauseCountFilter)
			- addFilter(departmentCount, @App\Filters\Count\DepartmentCountFilter)
			- addFilter(departmentFunctionCount, @App\Filters\Count\DepartmentFunctionCountFilter)
			- addFilter(departmentFunctionMemberCount, @App\Filters\Count\DepartmentFunctionMemberCountFilter)
			- addFilter(departmentCount, @App\Filters\Count\DepartmentCountFilter)
			- addFilter(functionCount, @App\Filters\Count\FunctionCountFilter)
			- addFilter(meetingCount, @App\Filters\Count\MeetingCountFilter)
			- addFilter(memberCount, @App\Filters\Count\MemberCountFilter)
			- addFilter(memberFunctionCount, @App\Filters\Count\MemberFunctionCountFilter)

			- addFilter(active, @App\FrontModule\Filters\ActiveFilter)
			- addFilter(age, @App\FrontModule\Filters\AgeFilter)
			- addFilter(array, @App\Filters\ArrayFilter)
			- addFilter(bool, @App\Filters\BoolFilter)
			- addFilter(branch, @App\AdminModule\Filters\BranchFilter)
			- addFilter(city, @App\FrontModule\Filters\CityFilter)
			- addFilter(frontCar, @App\FrontModule\Filters\CarFilter)
			- addFilter(adminCar, @App\AdminModule\Filters\CarFilter)
			- addFilter(cause, @App\AdminModule\Filters\CauseFilter)
			- addFilter(department, @App\AdminModule\Filters\DepartmentFilter)
			- addFilter(departmentDescription, @App\FrontModule\Filters\DepartmentDescriptionFilter)
			- addFilter(function, @App\AdminModule\Filters\FunctionFilter)
			- addFilter(gender, @App\FrontModule\Filters\GenderFilter)
			- addFilter(adminMeeting, @App\AdminModule\Filters\MeetingFilter)
			- addFilter(frontMeeting, @App\FrontModule\Filters\MeetingFilter)
			- addFilter(member, @App\Filters\MemberFilter)
			- addFilter(memberDescription, @App\FrontModule\Filters\MemberDescriptionFilter)
			- addFilter(memberType, @App\FrontModule\Filters\MemberTypeFilter)
			- addFilter(nick, @App\FrontModule\Filters\NickFilter)
			- addFilter(profilePhoto, @App\Filters\ProfilePhotoFilter)

	Router: App\Router\RouterFactory::createRouter

# managers
	BranchManager:
		class: App\Model\Managers\BranchManager
	CarManager:
		class: App\Model\Managers\CarManager
	CauseManager:
		class: App\Model\Managers\CauseManager
	DepartmentManager:
		class: App\Model\Managers\DepartmentManager
	Department2Function2MemberManager:
		class: App\Model\Managers\Department2Function2MemberManager
	Department2FunctionManager:
		class: App\Model\Managers\Department2FunctionManager
	FunctionManager:
		class: App\Model\Managers\FunctionManager
	MeetingManager:
		class: App\Model\Managers\MeetingManager
	MemberManager:
	 	class: App\Model\Managers\MemberManager
	Member2FunctionManager:
		class: App\Model\Managers\Member2FunctionManager
	Member2MeetingManager:
		class: App\Model\Managers\Member2MeetingManager

# facades
	MemberFacade:
		class: App\Model\Facades\MemberFacade
	Member2FunctionFacade:
		class: App\Model\Facades\Member2FunctionFacade
	Member2FunctionsFacade:
		class: App\Model\Facades\Member2FunctionsFacade
	Member2MeetingFacade:
		class: App\Model\Facades\Member2MeetingFacade
	CauseFacade:
		class: App\Model\Facades\CauseFacade
	Department2FunctionFacade:
		class: App\Model\Facades\Department2FunctionFacade
	Department2Functions2MembersFacade:
		class: App\Model\Facades\Department2Functions2MembersFacade
	Departments2Functions2MembersFacade:
		class: App\Model\Facades\Departments2Functions2MembersFacade
	Function2MembersFacade:
		class: App\Model\Facades\Function2MembersFacade
	Member2Departments2FunctionsFacade:
		class: App\Model\Facades\Member2Departments2FunctionsFacade
	MeetingFacade:
		class: App\Model\Facades\MeetingFacade

# filters
	BranchCountFilter:
		class: App\Filters\Count\BranchCountFilter
	CarCountFilter:
		class: App\Filters\Count\CarCountFilter
	CauseCountFilter:
		class: App\Filters\Count\CauseCountFilter
	DepartmentCountFilter:
		class: App\Filters\Count\DepartmentCountFilter
	DepartmentFunctionCountFilter:
		class: App\Filters\Count\DepartmentFunctionCountFilter
	DepartmentFunctionMemberCountFilter:
		class: App\Filters\Count\DepartmentFunctionMemberCountFilter
	FunctionCountFilter:
		class: App\Filters\Count\FunctionCountFilter
	MeetingCountFilter:
		class: App\Filters\Count\MeetingCountFilter
	MemberCountFilter:
		class: App\Filters\Count\MemberCountFilter
	MemberFunctionCountFilter:
		class: App\Filters\Count\MemberFunctionCountFilter

	ActiveFilter:
		class: App\FrontModule\Filters\ActiveFilter
	AgeFilter:
		class: App\FrontModule\Filters\AgeFilter
	ArrayFilter:
		class: App\Filters\ArrayFilter
	BoolFilter:
		class: App\Filters\BoolFilter
	BranchFilter:
		class: App\AdminModule\Filters\BranchFilter
	CityFilter:
		class: App\FrontModule\Filters\CityFilter
	AdminCarFilter:
		class: App\AdminModule\Filters\CarFilter
	FrontCarFilter:
		class: App\FrontModule\Filters\CarFilter
	CauseFilter:
		class: App\AdminModule\Filters\CauseFilter
	DepartmentFilter:
		class: App\AdminModule\Filters\DepartmentFilter
	DepartmentDescriptionFilter:
		class: App\FrontModule\Filters\DepartmentDescriptionFilter
	FunctionFilter:
		class: App\AdminModule\Filters\FunctionFilter
	GenderFilter:
		class: App\FrontModule\Filters\GenderFilter
	AdminMeetingFilter:
		class: App\AdminModule\Filters\MeetingFilter
	FrontMeetingFilter:
		class: App\FrontModule\Filters\MeetingFilter
	MemberFilter:
		class: App\Filters\MemberFilter
	MemberDescriptionFilter:
		class: App\FrontModule\Filters\MemberDescriptionFilter
	MemberTypeFilter:
		class: App\FrontModule\Filters\MemberTypeFilter
	NickFilter:
		class: App\FrontModule\Filters\NickFilter
	ProfilePhotoFilter:
		class: App\Filters\ProfilePhotoFilter

# services
	ProfilePhotoService:
		factory: App\Services\ProfilePhotoService(%wwwDir%)

	CountWordHeService:
		class: App\Services\CountWordHeService
	CountWordSheService:
		class: App\Services\CountWordSheService
	CountWordItService:
		class: App\Services\CountWordItService