{define title}Kauza{/define}

{define breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link Cause:default}">Kauzy</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Kauza</li>
{/define}

{block content}
    {control causeForm}
{/block}
