{define title}Členská Funkce KC{/define}

{define breadcrumb}
    <li class="breadcrumb-item">
        <a href="{link MemberFunction:default}">Členské Funkce KC</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Členská Funkce KC</li>
{/define}

{block content}
    <div class="card">
        <div class="card-header">Členská Funkce KC</div>
        <div class="card-body">{control memberFunctionForm}</div>
    </div>
{/block}
